@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --clr-primary: rgb(0, 0, 0);
  --clr-secondary: rgb(255, 255, 255);
  --clr-text: #16100e;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #8c8e6c;
  color: var(--clr-text);
  & img {
    width: 2.4rem;
  }
}

main {
  flex: 1;
  display: flex;
}

#sidebar {
  background-color: #827484;
  width: 220px;
  padding: 1rem 0.1rem 0 0.1rem;
}

#projects > * {
  display: flex;
  /* Selects the button containing the project name */
  & :first-child {
    flex: 1;
    text-align: left;
    padding-left: 0.5rem;
  }
  & :first-child::before {
    background-image: url('./img/check-black.svg');
  }
  /* Selects both buttons in the div */
  & > * {
    background-color: transparent;
    border: 0;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    padding: 0.1rem;
  }
  & button:hover {
    background-color: #c8aecc;
  }
}

/* ADD TASK AND ADD PROJECT STYLING */
.adderBtn {
  border: 0;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  background-color: transparent;
  padding: 0.4rem;
}

#addProjectBtnContainer,
#addTaskBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adderBtn:hover {
  background-color: black;
  color: white;
}

.textInput {
  height: 1.4rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
}

.confirmBtn {
  border: 0;
  border-radius: 0.4rem;
  padding: 0.4rem;
  background-color: rgb(70, 114, 70);
  width: 50%;
}

.cancelBtn {
  border: 0;
  border-radius: 0.4rem;
  padding: 0.4rem;
  background-color: rgb(150, 54, 54);
  width: 50%;
}

/* TASK STYLING */
#container {
  background-color: #c39172;
  flex: 7;
}

#parentProject {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0.7rem;
  background-color: #8c8e6c;
  border-radius: 0.4rem;
}

#tasks {
  margin: 1rem;
  padding: 1rem;
}

.taskCard {
  width: 60%;
  background-color: #8c8e6c;
  border-radius: 0.4rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.33rem;

  & input[type='checkbox'] {
    margin: 0 0.5rem 0 0.5rem;
  }
  & :nth-child(2) {
    flex: 1;
  }
  & input[type='date'] {
    margin: 0 0.5rem 0 0.5rem;
  }
  & button {
    background-color: transparent;
    border: 0;
    border-radius: 0.4rem;
    margin-right: 0.2rem;
    width: 1.2rem;
  }
  & button:hover {
    background-color: #d0d3a1;
  }
}

footer {
  background-color: #8c8e6c;
  text-align: center;
  color: var(--clr-text);
  & a {
    color: #6e4b30;
  }
}
