@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(42, 73, 32);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 0 0 20px;
}

#page-content {
    flex: 1;
    display: flex;
}

#sidebar {
    background-color: rgb(105, 153, 101);
    width: 140px;
    padding: 10px;
    & .list-btn {
        border: 0;
        background-color: transparent;
        height: 35px;
        width: 95%;
        text-align: left;
        padding: 6px;
        font-size: 1.3rem;
    }
    & button:hover {
        background-color: rgb(23, 117, 19);
        cursor: pointer;
    }
    & h2 {
        margin-top: 8px;
    }
}

main {
    background-color: rgb(200, 253, 200);;
    flex: 1;
    padding: 20px;
    & #main-top {
        padding: 5px;
        display: flex;
        & #project-name {
            flex: 1;
        }
        & button {
            font-size: 1.3rem;
            border: 0;
            border-radius: 5px;
            background-color: red;
            text-align: left;
            padding: 6px;
        }
        & button:hover {
            background-color: rgb(255, 115, 115);
            cursor: pointer;
        }
    }
    & #add-task {
        display: flex;
        justify-content: center;
    }
    & #add-task-btn {
        border: 0;
        border-radius: 6px;
        background-color: transparent;
        height: 35px;
        width: 100px;
        text-align: center;
        left: 50%;
        padding: 6px;
        font-size: 1.3rem;
    }
    & #add-task-btn:hover {
        background-color: rgb(159, 255, 147);
        cursor: pointer;
    }
    & .task-card {
        background-color: rgb(25, 156, 8);
        border-radius: 8px;
        padding: 12px;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        & .task-title {
            /* margin: 0 30px 0 10px */
            text-transform: uppercase;
        }
        & .card-left {
            padding-top: 4px;
        }
        & .completed {
            text-decoration: line-through;
        }
        & button {
            border: 0;
            border-radius: 5px;
            background-color: red;
            text-align: left;
            padding: 6px;
        }
        & button:hover {
            background-color: rgb(255, 115, 115);
            cursor: pointer;
        }
    }
}

footer {
    background-color: rgb(42, 73, 32);
    color: white;
    text-align: center;
    font-weight: 400;
    & a {
        color: goldenrod;
    }
}